override.html-encoding-sniffer=^4.0.0
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=canvas
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=netlify-cli
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unix-dgram
