override.html-encoding-sniffer=^4.0.0
only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=canvas
only-built-dependencies[]=msw
only-built-dependencies[]=netlify-cli
only-built-dependencies[]=unix-dgram
